.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}
.type-item {
  margin: 100px 0;
}
.cube {
  width: 100%;
  height: 100%;
}
.cube-0 {
  background-color: red;
}
.cube-1 {
  background-color: blue;
}
.cube-2 {
  background-color: yellow;
}
.cube-3 {
  background-color: green;
}
.cube-4 {
  background-color: pink;
}
.cube-5 {
  background-color: purple;
}
