* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
}
.d1 {
  width: 40vw;
  height: 60vw;
  background-color: red;
}
.d2 {
  width: 40vw;
  height: 60vw;
  background-color: blue;
}
.Fireworks-box {
  position: relative;
  width: 100vw;
  height: 50vw;
  z-index: 5;
  background-color: black;
}
